#profile{
    height: 400px;
}

#contact {
    padding-left: 115px;
}

#luchar {
    padding-left: 115px;
}

#descrip {
    padding-bottom: 10px;
}

.guitarimg{

    width:240px
}

#left {
    float:left;
    max-width: 100px; 
}

#right{
    float:right;
}
ion-icon {
    color: white;
}