<body >
  <ion-tabs >

  <ion-tab-bar slot="bottom" style="background-color: #8E6EE9;">
    <ion-tab-button tab="tab1" style="background-color: #8E6EE9;">
      <ion-icon name="Home"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background-color: #8E6EE9;">
      <ion-icon name="Search"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: #8E6EE9;">
      <ion-icon name="add"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

</body>
