
  <ion-header >
  <ion-toolbar>
     <ion-title>
      <ion-img id="Ion-Logo" src="/assets/O.I.N.png"></ion-img> 
     </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class= "bg"> 

    
    <ion-card-header style = "background-color: #8E6EE9;">
      <ion-card-title id=slogan> Find an Instrument, Rent an Instrument.</ion-card-title>
      
    </ion-card-header>
  
    <section> 
        <button ion-button full outline routerLink="/guitar"></button>
        <ion-button color="dark" id=butt expand="block" routerLink="/guitar">Guitars</ion-button>
      </section>
      <section>
          
         <button ion-button full outline></button>
          <ion-button color="dark" id=but expand="block">Violin</ion-button>
          <button ion-button full outline></button>
        </section>
        <section>
            
            <ion-button color="dark"  id=but expand="block">Trumpet</ion-button>
          </section>
          <section>
              <button ion-button full outline></button>
              <ion-button color="dark" id=but expand="block">Trombone</ion-button>
            </section>
            <section>
                <button ion-button full outline></button>
                <ion-button color="dark" id=but expand="block">Keyboard</ion-button>
              </section>
              <section>
                  <button ion-button full outline></button>
                  <ion-button color="dark" id=but expand="block">Saxaphone</ion-button>
                </section>
                
      </div>
    </ion-content>
    
    
