.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
#but {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 0px;
  font-size: 30px;
}
#Ion-Logo {
  height: 50px;
  width: 50px;
  display: block; 
  margin: auto;
}
#butt {
  display: block;
  margin: auto;
  width: 60%;
   border-radius: 0px;
  font-size: 30px;
}

.bg{
  background-color:#8E6EE9;
}